@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;400&family=Open+Sans:wght@300;400;500&family=Poppins:ital,wght@0,100;0,300;0,600;1,200&display=swap");

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Hahmlet", serif;
}

.file-input {
  width: 100%;
  text-align: center;
  // position: absolute;
  height: 100%;
}

.file-input label {
  // display: block;
  position: relative;
  width: 100%;
  outline: none;
  // background: linear-gradient(40deg, #ff6ec4, #7873f5);
  // box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  // color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.custom-file-input {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  outline: none;
}

input:hover + label,
input:focus + label {
  transform: scale(1.02);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
