@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;400&family=Open+Sans:wght@300;400;500&family=Poppins:ital,wght@0,100;0,300;0,600;1,200&display=swap");

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Hahmlet", serif;
}
